.vector-icon38 {
  position: absolute;
  top: -118px;
  left: 1006px;
  width: 503.9px;
  height: 448px;
}
.vector-icon39 {
  position: absolute;
  top: -128px;
  left: 821px;
  width: 406.7px;
  height: 402.8px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon40 {
  position: absolute;
  top: 45px;
  left: 20px;
  width: 406.7px;
  height: 402.8px;
  object-fit: contain;
}
.vector-icon41 {
  position: absolute;
  top: 970px;
  left: 417px;
  width: 406.7px;
  height: 402.8px;
  object-fit: contain;
}
.vector-icon42 {
  position: absolute;
  top: 175px;
  left: 1283px;
  width: 217px;
  height: 200.4px;
  z-index: 1;
}
.vector-icon43 {
  position: absolute;
  top: 475px;
  left: -89px;
  width: 217px;
  height: 200.4px;
}
.vector-icon44 {
  position: absolute;
  top: 661px;
  left: 298px;
  width: 1567.3px;
  height: 1418px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon45 {
  position: absolute;
  top: 208px;
  left: -108px;
  width: 421.2px;
  height: 389px;
  z-index: 1;
}
.frame-main {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.personal-details3 {
  width: 176px;
  height: 32px;
  position: relative;
  font-size: var(--font-size-2xl-1);
  display: inline-block;
}
.full-name3 {
  width: 170.8px;
  height: 26px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.placeholder {
  border: none;
  outline: none;
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini-1);
  background-color: transparent;
  height: 21px;
  flex: 1;
  position: relative;
  color: var(--color-gray-700);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.personal-input {
  align-self: stretch;
  border-radius: var(--br-4xs-8);
  border: 0.9px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.800000000000011px var(--padding-6xs) 8.800000000000011px
    8.800000000000182px;
  max-width: 100%;
}
.full-name-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
  max-width: 100%;
  margin-top: 20px;
}
.date-of-birth4 {
  width: 191px;
  height: 26px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.gender3 {
  width: 346.8px;
  height: 26px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.gender-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
  max-width: 100%;
}
.frame-wrapper15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 1.800000000000182px;
  box-sizing: border-box;
  max-width: 100%;
}
.teacher-email-id1 {
  height: 26px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
}
.teacher-email-id-container {
  width: 402.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) 0px 1.800000000000182px;
  box-sizing: border-box;
  max-width: 100%;
}
.personal-details-parent {
  width: 446.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20.72px;
  max-width: 100%;
  font-size: var(--font-size-mid-6);
}
.department-details1 {
  width: 213px;
  height: 32px;
  position: relative;
  display: inline-block;
}
.department-name1 {
  width: 262.3px;
  height: 26px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.department-label {
  align-self: stretch;
  border-radius: var(--br-4xs-8);
  border: 0.9px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.800000000000068px var(--padding-6xs) 8.799999999999955px
    8.800000000000182px;
  max-width: 100%;
}
.department-name-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
  max-width: 100%;
  font-size: var(--font-size-mid-6);
}
.department-details-parent {
  width: 444.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.create-a-password1 {
  width: 205px;
  height: 32px;
  position: relative;
  display: inline-block;
}
.password-min-61 {
  width: 262.3px;
  height: 26px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.create-a-password-group {
  width: 444.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 20.100000000000023px;
  box-sizing: border-box;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.register6 {
  height: 22px;
  width: 66px;
  position: relative;
  font-size: var(--font-size-mid-6);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-beige-100);
  text-align: left;
  display: inline-block;
  min-width: 66px;
}
.register5 {
  cursor: pointer;
  border: none;
  padding: 8.799999999999955px 28.599999999999454px 8.800000000000068px
    28.600000000000364px;
  background-color: var(--color-darkslategray-200);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.register5:hover {
  background-color: var(--color-slategray-400);
}
.register-wrapper2 {
  width: 447px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.hero-section5 {
  width: 625px;
  border-radius: var(--br-5xs);
  background-color: var(--color-beige-100);
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-xl) 57.39999999999998px;
  box-sizing: border-box;
  gap: 43.5px;
  max-width: 100%;
  z-index: 2;
}
.registration-teacher {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 133px var(--padding-xl) 132px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-2xl-1);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 725px) {
  .hero-section5 {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .hero-section5 {
    gap: var(--gap-3xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .personal-details3 {
    font-size: var(--font-size-mid);
  }

  .department-details1 {
    font-size: var(--font-size-mid);
  }

  .create-a-password1 {
    font-size: var(--font-size-mid);
  }
}
