.vector-icon31 {
  position: absolute;
  top: -148px;
  left: 211px;
  width: 503.9px;
  height: 448px;
}
.vector-icon32 {
  position: absolute;
  top: -128px;
  left: 0px;
  width: 406.7px;
  height: 402.8px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon33 {
  position: absolute;
  top: 175px;
  left: 462px;
  width: 217px;
  height: 200.4px;
  z-index: 1;
}
.vector-parent7 {
  position: absolute;
  top: 0px;
  left: 821px;
  width: 619px;
  height: 375.4px;
}
.vector-icon34 {
  position: absolute;
  top: 343.8px;
  left: 55px;
  width: 406.7px;
  height: 402.8px;
  object-fit: contain;
}
.vector-icon35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1567.3px;
  height: 1418px;
  object-fit: contain;
  z-index: 1;
}
.vector-parent8 {
  position: absolute;
  top: 977px;
  left: 313px;
  width: 1127px;
  height: 512px;
}
.vector-icon36 {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 406.7px;
  height: 402.8px;
  object-fit: contain;
}
.vector-icon37 {
  position: absolute;
  top: 430px;
  left: -89px;
  width: 217px;
  height: 200.4px;
}
.input-field-triplets {
  position: absolute;
  top: 163px;
  left: -108px;
  width: 421.2px;
  height: 389px;
  z-index: 1;
}
.personal-details-department-de {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 426.7px;
  height: 630.4px;
}
.registration-student {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1489px;
  overflow: hidden;
  letter-spacing: normal;
}
