.course-overview1 {
  align-self: stretch;
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.divider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.callout {
  width: 308px;
  height: 106px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.dropdown-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
}
.dropdown-list-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.star {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary-50);
  box-sizing: border-box;
}
.job-information1 {
  position: absolute;
  top: 656px;
  left: 281px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-scale-white);
  border: 2px solid var(--primary-50);
  box-sizing: border-box;
  width: 647px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-30xl) var(--padding-mini)
    var(--padding-36xl-5);
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--gray-900);
  font-family: var(--font-poppins);
}
.course-description {
  position: absolute;
  top: 220px;
  left: 281px;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 760px;
}
.velstar-is-a {
  position: absolute;
  top: 264px;
  left: 281px;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--gray-600);
  display: inline-block;
  width: 1050px;
}
.here-at-velstar {
  margin: 0;
}
.here-at-velstar-container {
  position: absolute;
  top: 304px;
  left: 281px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-poppins);
  color: var(--gray-600);
  text-align: left;
  display: inline-block;
  width: 1104px;
  height: 130px;
}
.image-3-icon {
  position: absolute;
  top: 90px;
  left: 281px;
  width: 84px;
  height: 84px;
  object-fit: cover;
}
.primary2 {
  height: 24px;
  width: 87px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 87px;
}
.fiarrow-right-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button2 {
  cursor: pointer;
  border: none;
  padding: var(--padding-base) 62.5px;
  background-color: var(--color-lightslategray);
  position: absolute;
  top: 104px;
  left: 1147px;
  border-radius: var(--br-9xs);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.button2:hover {
  background-color: var(--color-slategray-200);
}
.design-and-analysis {
  margin: 0;
  height: 32px;
  width: 400px;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.heading1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.under-prof-mr {
  height: 28px;
  width: 201px;
  position: relative;
  line-height: 28px;
  display: inline-block;
}
.credits1 {
  height: 20px;
  width: 61px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--gray-scale-white);
  text-align: left;
  display: inline-block;
  min-width: 61px;
}
.badge1 {
  cursor: pointer;
  border: none;
  padding: var(--padding-9xs) var(--padding-xs);
  background-color: var(--success-500);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.badge1:hover {
  background-color: var(--color-limegreen);
}
.featured1 {
  height: 20px;
  width: 63px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-poppins);
  color: var(--danger-500);
  text-align: left;
  display: inline-block;
  min-width: 63px;
}
.badge2 {
  cursor: pointer;
  border: none;
  padding: var(--padding-9xs) var(--padding-xs);
  background-color: var(--danger-50);
  border-radius: var(--br-33xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badge2:hover {
  background-color: var(--color-gainsboro);
}
.tab {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-2xs) 0px 0px;
  gap: var(--gap-5xs);
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--gray-700);
  font-family: var(--font-poppins);
}
.heading-group {
  position: absolute;
  top: 100.5px;
  left: 386.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-5xl);
}
.course-details-child {
  position: absolute;
  top: 568px;
  left: 281px;
  width: 190px;
  height: 43px;
  display: none;
}
.primary3 {
  height: 24px;
  width: 78px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.button3 {
  cursor: pointer;
  border: none;
  padding: var(--padding-base) 67px;
  background-color: var(--color-silver-300);
  position: absolute;
  top: 568px;
  left: 281px;
  border-radius: var(--br-9xs);
  height:;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
  z-index: 1;
}
.button3:hover {
  background-color: var(--color-gray-100);
}
.course-syllabus {
  position: absolute;
  top: 524px;
  left: 281px;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 760px;
}
.header3 {
  height: 51.7px;
  width: 1188.8px;
  position: relative;
  background-color: var(--gray-scale-white);
  border-bottom: 0.7px solid var(--color-lightgray-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.date1 {
  align-self: stretch;
  height: 11px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.date-container {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-6xs);
  box-sizing: border-box;
}
.boldnotification-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.number-notification1 {
  position: absolute;
  top: 0px;
  left: 13.5px;
  border-radius: 50.23px;
  background-color: var(--red-red-3);
  width: 4.5px;
  height: 4.5px;
  z-index: 1;
}
.notification1 {
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 1;
}
.shape-bender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0px 0px;
}
.frame-item {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.shape-bender-parent {
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.header2 {
  position: absolute;
  top: 0px;
  left: 251px;
  background-color: var(--gray-scale-white);
  border-bottom: 0.7px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1188.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-75xl-5);
  gap: var(--gap-89xl-5);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xs-5);
  color: var(--color-slategray-600);
}
.course-details1 {
  position: relative;
  background-color: var(--gray-scale-white);
  width: 100%;
  height: 1020px;
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--gray-900);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 650px) {
  .course-details1 {
    height: auto;
    min-height: 1020;
  }
}
@media screen and (max-width: 450px) {
  .design-and-analysis {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }

  .tab {
    flex-wrap: wrap;
  }

  .header2 {
    flex-wrap: wrap;
  }
}
