.app-menu1 {
  position: absolute;
  top: -492px;
  left: 0px;
  background-color: var(--color-gray-300);
  width: 251px;
  height: 1535px;
  z-index: 2;
}
.frame-child14 {
  position: absolute;
  top: 739px;
  left: 0px;
  width: 251.2px;
  height: 0.8px;
  z-index: 3;
}
.frame-child15 {
  position: absolute;
  top: 588.6px;
  left: 0px;
  width: 251.2px;
  height: 0.8px;
  z-index: 3;
}
.vuesaxboldbook-icon5 {
  width: 15.7px;
  height: 15.7px;
  position: relative;
}
.vuesax-bold-book {
  height: 17.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.2000000000000455px 0px 0px;
  box-sizing: border-box;
}
.hacktrix1 {
  height: 20.2px;
  width: 71px;
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 71px;
}
.logo2 {
  flex: 1;
  border-radius: var(--br-4xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5);
  gap: var(--gap-8xs-6);
  z-index: 3;
}
.logo-container {
  width: 228.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-3xl-5) 0px var(--padding-3xl);
  box-sizing: border-box;
}
.logo-child {
  align-self: stretch;
  height: 0.8px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.logo1 {
  position: absolute;
  top: 14.2px;
  left: 0px;
  width: 251.2px;
  height: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
  text-align: center;
  font-size: var(--font-size-sm-5);
}
.settings2 {
  height: 14.1px;
  width: 42px;
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 42px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.settings-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xl);
}
.vuesaxboldsetting-2-icon1 {
  width: 18px;
  height: 18px;
  position: relative;
}
.vuesaxboldsetting-2-container {
  height: 19.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 1.400000000000091px;
  box-sizing: border-box;
}
.account-settings1 {
  height: 20.9px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.help2 {
  align-self: stretch;
  border-radius: var(--br-8xs-5);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xs);
  gap: var(--gap-4xs);
  z-index: 3;
}
.boldnotification-icon5 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.notification-preferences1 {
  height: 20.9px;
  width: 132.7px;
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 3;
}
.frame-parent31 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.accountsettings-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xs);
}
.accountsettings {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-1);
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-2xs-5);
}
.settings1 {
  position: absolute;
  top: 609.4px;
  left: 13px;
  width: 183.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-5);
  font-size: var(--font-size-4xs);
}
.academic1 {
  width: 68px;
  height: 14.1px;
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.course-details3 {
  height: 20.9px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xs-5);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--gray-scale-white);
  text-align: left;
  display: flex;
  align-items: center;
}
.shape-joiner {
  cursor: pointer;
  border: none;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-xs);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-8xs-5) 0px 0px var(--br-8xs-5);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-left: 4.5px solid var(--gray-scale-white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  z-index: 3;
}
.vuesaxboldtrend-up-container {
  height: 19.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.400000000000091px 0px 0px;
  box-sizing: border-box;
}
.grade-report2 {
  align-self: stretch;
  border-radius: var(--br-8xs-5);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xs);
  gap: var(--gap-4xs);
  z-index: 3;
}
.schedule-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.16px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-2xs-5);
}
.academic-parent {
  position: absolute;
  top: 168.3px;
  left: 45px;
  width: 183.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm-5);
  font-size: var(--font-size-4xs);
}
.frame-child16 {
  position: absolute;
  top: 186px;
  left: 0px;
  width: 251.2px;
  height: 0.8px;
  z-index: 3;
}
.vjti-college1 {
  margin: 0;
}
.vjti-college-vjti-container3 {
  width: 100%;
}
.vjti-college-vjti-container2 {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 20px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 304px;
  z-index: 4;
}
.vector-parent12 {
  position: absolute;
  top: 655px;
  left: 0px;
  width: 324px;
  height: 506px;
}
.vuesaxboldlogout-icon1 {
  height: 18px;
  width: 18px;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 5;
}
.logout2 {
  height: 20.9px;
  width: 36px;
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-width: 36px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 5;
}
.logout1 {
  position: absolute;
  top: 779px;
  left: 14px;
  height: 20.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs-8);
}
.app-menu-parent {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 324px;
  text-align: left;
  font-size: var(--font-size-2xs-5);
  color: var(--gray-scale-white);
  font-family: var(--font-poppins);
}
