.lecture-details1 {
  width: 161px;
  height: 32px;
  position: relative;
  font-size: var(--font-size-2xl-1);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  text-align: left;
}
.lecture-days {
  width: 262.3px;
  height: 26px;
  position: relative;
  font-size: var(--font-size-mid-6);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  text-align: left;
  display: flex;
  align-items: center;
}
.what-are-the1 {
  border: none;
  outline: none;
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini-1);
  background-color: transparent;
  height: 21px;
  flex: 1;
  position: relative;
  color: var(--color-gray-700);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.what-are-the-lecture-days-wrapper {
  align-self: stretch;
  border-radius: var(--br-4xs-8);
  border: 0.9px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.800000000000182px var(--padding-6xs) 8.800000000000182px
    8.799999999999272px;
  max-width: 100%;
}
.lecture-days-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
  max-width: 100%;
}
.syllabus-upload {
  width: 124px;
  height: 22px;
  position: relative;
  font-size: var(--font-size-mid-6);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--font);
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.upload-syllabus {
  height: 22px;
  width: 124px;
  position: relative;
  font-size: var(--font-size-mid-6);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--gray-scale-white);
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.upload-syllabus-wrapper {
  cursor: pointer;
  border: none;
  padding: 4.399999999999636px 20.600000000000364px 4.400000000000546px;
  background-color: var(--color-darkslategray-200);
  border-radius: 8.79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.upload-syllabus-wrapper:hover {
  background-color: var(--color-slategray-400);
}
.doc-docx-pdf {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--font-size-mini-1);
  font-family: var(--font-outfit);
  color: var(--color-darkslategray-300);
  text-align: left;
  display: inline-block;
}
.doc-docx-pdf-rtf-max-size-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.399999999999636px 0px 0px;
  box-sizing: border-box;
  min-width: 168px;
}
.frame-parent23 {
  align-self: stretch;
  border-radius: 8.79px;
  border: 0.9px solid var(--color-black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.199999999999818px var(--padding-9xs) 5.300000000000182px;
  gap: var(--gap-4xs-8);
}
.syllabus-upload-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-8);
}
.frame-parent22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 14.899999999999636px;
  box-sizing: border-box;
  gap: var(--gap-lgi-6);
  max-width: 100%;
}
.edit2 {
  height: 22px;
  width: 32px;
  position: relative;
  font-size: var(--font-size-mid-6);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-beige-100);
  text-align: left;
  display: inline-block;
  min-width: 32px;
}
.register3 {
  cursor: pointer;
  border: none;
  padding: 8.800000000000182px var(--padding-27xl) 8.800000000000182px
    45.60000000000037px;
  background-color: var(--color-darkslategray-200);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.register3:hover {
  background-color: var(--color-slategray-400);
}
.register-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-12xs) 0px 0px;
}
.hero-section3 {
  margin: 0;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-beige-100);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-68xl-5) 31.399999999999636px
    var(--padding-70xl);
  box-sizing: border-box;
  gap: var(--gap-3xl);
  max-width: 100%;
  z-index: 2;
}

@media screen and (max-width: 650px) {
  .hero-section3 {
    padding: var(--padding-10xl) var(--padding-24xl) var(--padding-xl)
      var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .lecture-details1 {
    font-size: var(--font-size-mid);
  }

  .hero-section3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
